/SGMapleStore/build/
/SGMapleStore/dist/
/SGMapleStore/nbproject/private/

/SGMapleStoreRemoteInterface/build/
/SGMapleStoreRemoteInterface/dist/
/SGMapleStoreRemoteInterface/nbproject/private/

/SGMapleStore/SGMapleStore-ejb/build/
/SGMapleStore/SGMapleStore-ejb/dist/
/SGMapleStore/SGMapleStore-ejb/nbproject/private/

/SGMapleStoreWebApp/build/
/SGMapleStoreWebApp/dist/
/SGMapleStoreWebApp/nbproject/private/