.detail-block {
    background-color: #fff;
}
.single-product-gallery {
    padding-bottom: 30px;
}
.product-info-block .name {
    margin-top: 0px;
    font-weight: bold;
    letter-spacing: -1px;
}
.gallery-holder #owl-single-product .single-product-gallery-item {
    border: 1px solid #e5e5e5;
}
.product-info .stock-container .stock-box .label {
    font-size: 13px;
    font-family: 'Open Sans', sans-serif;
    line-height: 18px;
    color: #666666;
    padding: 0px;
    font-weight: normal;
}
.product-info .stock-container .stock-box .value {
    font-size: 13px;
    font-weight: bold;
    color: #ff7878;
}
.product-info .description-container {
    margin-top: 50px;
    color: #666666;
}
.product-info .price-container {
    border-bottom: 1px solid #F2F2F2;
    border-top: 1px solid #F2F2F2;
    padding: 20px 0 60px 0;
}
.product-info .price-container .price-box .price {
    color: #ff7878;
    font-size: 30px;
    font-weight: 700;
    line-height: 50px;
}
.product-info .price-container .price-box .price-strike {
    color: #aaa;
    font-size: 16px;
    font-weight: 300;
    line-height: 50px;
    text-decoration: line-through;
}
.product-info .quantity-container {
    margin-bottom: 0;
    padding: 20px 0;
}
.product-info .quantity-container .label {
    font-size: 14px;
    font-weight: bold;
    font-family: 'Open Sans', sans-serif;
    line-height: 35px;
    text-transform: uppercase;
    color: #666666;
    padding: 0px;
    font-weight: normal;
}
.product-info .quantity-container .quant-input {
    display: inline-block;
    height: 35px;
    position: relative;
}
.product-info .errorMessage {
    margin: 30px 0 0 0;
    color: red;
    font-weight: bold;
    display: none;
}
.m-t-20 { margin-top: 20px; }
.btn-primary {
    transition: all linear 0.2s;
    background: #66AD44;
    color: #fff;
    border: none;
    font-size: 13px;
    line-height: 22px;
    padding: 6px 14px;
    font-family: 'Montserrat', sans-serif;
    border-radius: 2px;
}

ul.setLeftUL {
    list-style: none;
    padding-left: 0;
    display: table;
}
ul.setLeftUL li {
    display: table-row;
    margin-bottom: 0.4em;
}
ul.setLeftUL li::before {
    content: "•";
    display: table-cell;
    padding-right: 0.6em;
}

.line-item-table { margin: 0 0 20px 0; }
.line-item-table .line-item-header { font-size: 12px; text-transform: uppercase; color: #1685C6; }
.line-item-table .line-item-header .line-item-column { padding: 8px 10px; color: #666; background-color: #F9F9F9; }
.line-item-table .invoice-nodiscount.line-item-us .item-details { width: 50%; }
.line-item-table .invoice-nodiscount.line-item-us .item-qty { width: 14%; }
.line-item-table .line-item-column { border: 1px solid #DADADA; vertical-align: top; background-color: #FFFFFF; padding: 0; }
.line-item-table .line-item-column, .list-column .zi-table td, .warehouses>li div, .zi-table tbody td { word-wrap: break-word; }
.line-item-table .line-item-column .form-control { border: none; box-shadow: none; }
.line-item-table .line-item-body .new-line-item { opacity: 1; margin-left: -20px; padding-left: 20px; }
.line-item-table .line-item-body .line-item .item-actions { position: absolute; right: -40px; top: -20px; }
.line-item-table .line-item-body .line-item { height: 56px; transition: opacity .1s ease; }
.line-item-table .line-item-body .line-item .action { font-size: 15px; cursor: pointer; }
.line-item-table .line-item-body .item-img { width: 5%; min-width: 54px; text-align: center; }
.line-item-table .line-item-body .item-acc, .line-item-table .line-item-body .item-acc-us, .line-item-table .line-item-body .item-qty, .line-item-table .line-item-body .item-tax { min-width: 150px; max-width: 150px; }
.line-item-table .item-actions-container { position: relative; }
.displayImage { padding: 17px 0 0 10px; display: block; }
.displayField { padding: 17px 0 0 10px; display: block; }
.text-muted { color: #777!important; }
.over-flow { max-width: 100%; text-overflow: ellipsis; white-space: nowrap; overflow: hidden; }